.navbar {
    background-color: #2a2828;
    padding: 20px 0;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.9rem;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 7px;
    border-radius: 5px;
  }
  
  .navbar-nav {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px; 
  }
  
  .nav-link {
    color: #fff;    
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  